/data/filings/
/data/filings/ignorelist.csv
/data/filings/master1904.idx
/data/filings/master2001.idx
/data/filings/master2002.idx
/data/filings/master2003.idx
/data/filings/master2004.idx
/data/filings/master2101.idx
/data/filings/master2102_todate.idx
/data/filings/all_filings.pkl
/data/all_filings.pkl
