aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
Brotli @ file:///D:/bld/brotli-split_1610110784919/work
brotlipy==0.7.0
certifi==2021.5.30
cffi @ file:///D:/bld/cffi_1613414140225/work
chardet @ file:///D:/bld/chardet_1610093646853/work
click @ file:///D:/bld/click_1621503984716/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cryptography @ file:///D:/bld/cryptography_1616851649655/work
dash @ file:///home/conda/feedstock_root/build_artifacts/dash_1618036125020/work
dash-bootstrap-components @ file:///home/conda/feedstock_root/build_artifacts/dash-bootstrap-components_1620178126952/work
dash-core-components @ file:///home/conda/feedstock_root/build_artifacts/dash-core-components_1617984947808/work
dash-html-components @ file:///home/conda/feedstock_root/build_artifacts/dash-html-components_1617985450943/work
dash-renderer @ file:///home/conda/feedstock_root/build_artifacts/dash-renderer_1617984936069/work
dash-table @ file:///home/conda/feedstock_root/build_artifacts/dash-table_1617984959581/work
et-xmlfile==1.0.1
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1621629915293/work
Flask-Compress @ file:///home/conda/feedstock_root/build_artifacts/flask-compress_1613569273720/work
future @ file:///D:/bld/future_1610147454374/work
gunicorn==20.1.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1621360792037/work
jdcal==1.4.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1621419064915/work
lxml==4.6.3
MarkupSafe @ file:///D:/bld/markupsafe_1621455847127/work
multidict==5.1.0
numpy @ file:///D:/bld/numpy_1621506450533/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1615404969632/work
pandas @ file:///D:/bld/pandas_1618263791034/work
patsy==0.5.1
Pillow @ file:///D:/bld/pillow_1621288193589/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1610471242275/work
plotly-express==0.4.1
PyAutoGUI @ file:///D:/bld/pyautogui_1602591113211/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
PyMsgBox @ file:///home/conda/feedstock_root/build_artifacts/pymsgbox_1602398310849/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
PyScreeze @ file:///home/conda/feedstock_root/build_artifacts/pyscreeze_1618749600070/work
PySocks @ file:///D:/bld/pysocks_1610291742246/work
python-dateutil==2.8.1
PyTweening==1.0.3
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
PyYAML==5.4.1
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
retrying==1.3.3
scipy @ file:///C:/bld/scipy_1619562091939/work
secedgar==0.3.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve==2.2.1
statsmodels @ file:///D:/bld/statsmodels_1612273760174/work
tqdm==4.61.1
typing-extensions==3.10.0.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1622056799390/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1621518206714/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1610147566231/work
wincertstore==0.2
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
yarl==1.6.3
